body{
    display: block;
    margin: 0%;
    overflow:auto;
}


.hero {
  position:relative;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 0;
  margin: 0px;
  height: 80vh; 
}

/* Text Section */
.hero-text {
   z-index: 2;
   width: 70%;
   padding-bottom: 10%;
   padding-left: 7%;
}

.hero-text h1 {
  text-align: left;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
}

.hero-text em {
  font-style: italic;
}

/* Circular Images (Left & Right) */
.hero-image {
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.hero-image img {
  object-fit: cover;
  opacity: 85%;
}

/* Left image placement */
.hero-left {
  width: 612px;
  height: 408px;  
  left: -220px;
  bottom: 0%;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px; 
  /* border-bottom-right-radius: 400; */
}

/* Right image placement */
.hero-right {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;  
  top: 20px;
  right: 0;
  /* top: 0; */
  transform: translateY(-10%);
}

@media (max-width: 640px){

  .hero{
    height: 300px;
  }

.hero-left {
  width: 300px;
  height: 250px;  
  left: -70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}

.hero-left img{
  padding-bottom: 0;
}

/* Right image placement */
.hero-right {
  width: 30%;
}

.hero-text{
  width: 90%;
  padding-bottom: 40%;
  padding-left: 10%;
}

.hero-text h1{
  font-size: x-large;
}

}

@media (min-width: 545px) and (max-width: 640px){

.hero-text{
  padding-bottom: 30%;
}

}


@media (min-width: 641px) and (max-width: 767px){

  .hero{
    height: 500px;
  }

  .hero-right{
    width: 30%;
  }

  .hero-left{
  width: 400px;
  height: 350px; 
  left: -70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }

  .hero-text{
  width: 90%;
  padding-bottom: 40%;
  padding-left: 10%;
}

.hero-text h1{
  font-size: 3rem;
}

}



@media (min-width: 767px) and (max-width: 1023px){

  .hero-right{
    width: 35%;
  }

  .hero-left{
  width: 450px;
  height: 310px; 
  left: -70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  }

.hero-text{
  width: 90%;
  padding-bottom: 40%;
  padding-left: 10%;
}

.hero-text h1{
  font-size: 3rem;
}

}

@media (min-width: 915px) and (max-width: 1023px){

 .hero-text{
  padding-bottom: 30%;
 }

  .hero-text h1{
  font-size: 3.5rem;
}

}

@media (min-width: 1023px) and (max-width: 1135px){

.hero-text{
  width: 90%;
  padding-bottom: 28%;
  padding-left: 10%;
}
    
}