.highlight {
    position: relative;
  overflow: hidden;
  height: 3rem;               /* visible height = 1 item */
  color: #f28b82;
  font-size: 2.9rem;
  margin-top: 1.2rem;
  font-weight: 700;
  padding-right: 30%;
}

.txt {
    position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  /* 2 items → duplicated → total 4 */
  animation: scroll 2.5s infinite;
  animation-direction: alternate; 
  animation-timing-function: cubic-bezier(.25,.46,.45,.94); 
}

.txt:hover {
  animation-play-state: paused;
}


.txt li {
    overflow: hidden;
  height: 3rem; 
  line-height: 3rem;               /* each line height */
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-1 * 3rem));   /* scroll exactly 2 items up */
  }
}

@media (max-width: 640px) {
  .highlight {
    font-size: 1rem;
    height: 1rem;
  }

  .txt li {
    height: 1rem;
  }

  @keyframes scroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(calc(-1 * 1rem)); }
  }

}

@media (min-width: 642px) and (max-width: 767px){

  .highlight {
    font-size: 2rem;
    height: 2rem;
  }

    .txt li {
    height: 2rem;
  }

  @keyframes scroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(calc(-2 * 1rem)); }
  }

}

@media (min-width: 915px) and (max-width: 1023px){

  .highlight {
    font-size: 2rem;
    height: 2rem;
  }

    .txt li {
    height: 2rem;
  }

  @keyframes scroll {
    0% { transform: translateY(0); }
    100% { transform: translateY(calc(-2 * 1rem)); }
  }

}